/* .q-item__section--main {
  padding-left: 10px;
} */

.selected-item {
  color: blue;
}

.editable-link {
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 4px;
  height: auto;
}

.label-link {
  padding: 0 12px;
  font-size: 14px;
}

.main-container {
  width: 95%;
  margin: auto;
}
